<div class="credits">
    <div class="credits-inner">
        <small class="mid"><a href="#" data-reveal-id="madeby">Built with &hearts;</a> | Created at <a href="http://www.startupinstitute.com/"><img src="/assets/si-logo.png" alt="Startup Institute"></a></small>
    </div>
    <div class="social">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="techscenebos">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <div class="fb-like" data-href="http://techscene.co" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
    </div>
</div>
<div id="payforward" class="reveal-modal large">
    <div class="row">
        <div class="large-12 columns">
            <h3 class="prime-color">#payitforward</h3>
        </div>
    </div>
    <form action="">
        <div class="row">
            <div class="large-3 columns">
                <label for="name" class="right inline">Name</label>
            </div>
            <div class="large-9 columns">
                <input id="name" type="text">
            </div>
        </div>
        <div class="row">
            <div class="large-3 columns">
                <label for="email" class="right inline">Your Email</label>
            </div>
            <div class="large-9 columns">
                <input id="email" type="email">
            </div>
        </div>
        <div class="row">
            <div class="large-3 columns">
                <label for="compName" class="right inline">Company Name</label>
            </div>
            <div class="large-9 columns">
                <input id="compName" type="text">
            </div>
        </div>
        <div class="row">
            <div class="large-3 columns">
                <label for="compType" class="right inline">Company Type</label>
            </div>
            <div class="large-9 columns">
                <select id="compType">
                    <option value="startup">Startup</option>
                    <option value="vc">VC</option>
                    <option value="angel">Angel</option>
                    <option value="accel">Accelerators &amp; Incubators</option>
                    <option value="coworking">Co-working</option>
                    <option value="hang">Hang Out Spot</option>
                    <option value="event">Event</option>
                </select>
            </div>
        </div>
        <div class="row notes">
            <div class="large-3 columns">
                <label for="address" class="right inline">Address</label>
            </div>
            <div class="large-9 columns">
                <input class="has-notes" id="address" type="text">
                <small>Should be your <strong>full street address (including city and zip)</strong>. If it works on Google Maps, it will work here.</small>
            </div>
        </div>
        <div class="row notes">
            <div class="large-3 columns">
                <label for="url" class="right inline">Website URL</label>
            </div>
            <div class="large-9 columns">
                <input class="has-notes" id="url" placeholder="http://" type="url">
                <small>Should be your full URL with no trailing slash, e.g. "http://www.yoursite.com"</small>
            </div>
        </div>
        <div class="row notes">
            <div class="large-3 columns">
                <label for="description" class="right inline">Description</label>
            </div>
            <div class="large-9 columns">
                <input class="has-notes" id="description" type="text">
                <small>Brief, concise description. What's your product? What problem do you solve? Max 150 chars.</small>
            </div>
        </div>
        <div class="row">
            <div class="large-9 columns"></div>
            <div class="large-3 columns">
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
    <a class="close-reveal-modal">&#215;</a>
</div>
<div id="madeby" class="reveal-modal large">
    <div class="row">
        <div class="large-6 columns">
            <p><strong>Visual Design /<br>Product Management</strong></p>
        </div>
        <div class="large-6 columns">
            <p><strong>Back-end Development</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <img src="/assets/chuka.jpg" alt="Chuka Amadi">
            <p class="info">
                <strong>Chuka Amadi</strong><br>
                <a href="http://www.twitter.com/chukachase">@chukachase</a>
            </p>
        </div>
        <div class="large-6 columns">
            <img src="/assets/jamie.jpg" alt="Jamie Davidson">
            <p class="info">
                <strong>Jamie Davidson</strong><br>
                <a href="http://www.twitter.com/jamiehdavidson">@jamiehdavidson</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <p><strong>Front-end Development</strong></p>
        </div>
        <div class="large-6 columns">
            <p><strong>Business Development</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <img src="/assets/ryan.jpg" alt="Ryan Foote">
            <p class="info">
                <strong>Ryan Foote</strong><br>
                <a href="http://www.twitter.com/footedesign">@footedesign</a>
            </p>
        </div>
        <div class="large-6 columns">
            <img src="/assets/curtis.jpg" alt="Curtis Michael">
            <p class="info">
                <strong>Curtis Michael</strong><br>
                <a href="http://www.twitter.com/_CurtisMichael">@_CurtisMichael</a>
            </p>
        </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>