%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        %a{ href: root_path } 
          %img{ src: "/assets/logo.png", alt: "TechScene Boston" }
    %li.toggle-topbar.menu-icon
      %a{ href: "#" }
        %span Menu
  %section.top-bar-section
    %ul.right
      %li.divider
      - if user_signed_in?
        %li
          %a{ href: "/admin" } Admin
      - if user_signed_in?
        %li.divider
        %li
          = link_to 'Logout', destroy_user_session_path, :method=>'delete'
      %li.payitforward<
        %a{ href: "#", data: { "reveal-id" => "payforward" } } #payitforward